/* Base */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background: #050509;
  color: #f5f5f5;
}

.app {
  max-width: 1100px;
  margin: 20px auto;
  padding: 16px;
  background: radial-gradient(circle at top, #111827 0, #020617 70%);
  border-radius: 16px;
  border: 1px solid rgba(148, 163, 184, 0.3);
}

.header {
  text-align: center;
}

/* Section */
.hold-section {
  margin-top: 32px;
  background: rgba(15, 23, 42, 0.85);
  padding: 18px;
  border-radius: 14px;
  border: 1px solid rgba(75, 85, 99, 0.7);
}

.ake-row,
.pallet-row {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
}

/* Slot base */
.slot {
  height: 45px;
  border-radius: 8px;
  border: 1px solid #4b5563;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  background: #0f172a;
  position: relative;
  cursor: pointer;
}

.slot::before {
  content: attr(data-pos);
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 10px;
  color: #9ca3af;
}

/* AKE WIDTH (BASE 1 UNIT) */
.slot.ake {
  width: 60px;
}

/* PALLET REAL WIDTHS (FORWARD) */
.slot[data-pos="24P"] { width: 159px; }
.slot[data-pos="23P"] { width: 159px; }
.slot[data-pos="22P"] { width: 123px; }
.slot[data-pos="21P"] { width: 99px;  }
.slot[data-pos="12P"] { width: 123px; }
.slot[data-pos="11P"] { width: 123px; }

/* AFT PALLETS REAL WIDTHS */
.slot[data-pos="42P"] { width: 123px; }
.slot[data-pos="41P"] { width: 123px; }
.slot[data-pos="33P"] { width: 123px; }
.slot[data-pos="32P"] { width: 123px; }
.slot[data-pos="31P"] { width: 60px; }

/* Highlight */

.slot.has-uld {
  border-color: #22c55e;
  box-shadow: 0 0 8px rgba(34, 197, 94, 0.45);
}

.slot.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.controls button {
  background: #111827;
  border: 1px solid #4b5563;
  padding: 8px 16px;
  border-radius: 999px;
  color: #e5e7eb;
  cursor: pointer;
}

#clear-btn {
  border-color: #ef4444;
}

.output-section textarea {
  width: 100%;
  min-height: 140px;
  background: #020617;
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid #4b5563;
  color: white;
  padding: 10px;
}
